@import "../../constants/contants.scss";

.buttonConfirm {
  width: 100%;
  background-color: color(blue-primary);
  color: white;
  font-size: 16px;
  padding: 4px;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }
}